*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	display: block;
    background-color: #f8f8f8;
}
.container{
	min-height: 100%;
    margin: 0 auto;
}
.block_back{
	background-image: url(../img/serf.jpg); 
	height: 350px;
}
.header{
    width: 1500px;
    height: 350px;
    margin: 0 auto;
    background: url("../img/maps (1).png") ;  
}
.logo{
	background-image: url("../img/logo.png");
	width: 125px;
	height: 111px;
	float: left;
	margin-top: 24px;
	margin-left:  226px;
    margin-bottom: 68px;
    margin-right: 20px;
}
.icons{
	float: right;
	width: 125px;
    height: 35px;
	margin-right: 260px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 5px;
    background-color:  rgba(193, 193, 193, 0.8);
}
ul.icons>li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
}
.icons>li:hover{
    opacity: 0.25;
}
.main{ 
    width: 1500px;
    height: 849px;
    margin-left: 165px;
    margin-right: 160px;
}
.left-said{
    width: 270px;
    height: 869px; 
    margin-top: -20px; 
    margin-left: 203px; 
    float: left;  
}
.menu{
	background-color: #26d2fc;
    width: 270px;
    font-family: serif;
    margin-bottom: 30px;   
}
.menu>li{
	height: 43px;
    list-style-type: none;
}
.menu>li:first-child{
	background-color: #333333;
    height: 66px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 40px;
    font-weight: 700;
    line-height: 66px;
}

.menu>li:last-child{
    background-color: #333;
     color: #fff;
}
.menu>li>a{
	color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 40px;
    display: block;
}
.menu>li>a:last-child{
  
}
.menu>li>a:hover{
	background-color: #333333;
    color: #ffffff;
}
.banner{
    width: 270px;
    height: 300px;  
    background-color:  #eaeaea;
   float: left; 
}
.baner{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    line-height: 36px;
    position: relative;
    top: 129px;
    left: 142px;
    text-align: left;
    text-transform: uppercase;
    color: #333;
}
.content{
	float: right;
    font-family: Roboto, sans-serif;
    background-color: #f8f8f8;
    width: 870px;
    height: 869px;
    margin-right: 124px;
    margin-top: -20px
}
.breadcrumbs-one{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 111px;
    height: 20px;
    margin-top: 18px;
    margin-left: 10px;
 }
.breadcrumbs-one>li{
    list-style: none;
    font-family: Roboto;
    color:  #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    float: left;   
}
.breadcrumbs-one>li:last-child{
    background-color: #faef03;
    padding-left: 3px;
}
.breadcrumbs-one>li>a{
    text-decoration: none;
    color:  #989898; 
}
.breadcrumbs-one>li>a:hover{
    color: #3fccfd;
}
.input{
    position: relative;
    float: left;
    width: 384px;
    padding: 0 23px 0 10px;
}
.input:after{
    position: absolute;
    top: 57px;
    right: 0;
    width: 1px;
    height: 330px;
    content: '';
    background-color: #e4e4e4;
}
.form{
    width: 870px;
    height: 588px;   
}
.field{
    margin-top: 34px;
    width: 350px;
    height: 46px;
}
label{
   font-family: Roboto;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;  
}
#n,#ln,#a{
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 350px;
    height: 27px;
    font-family: Roboto;
    color:  #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}
.message{
    width: 350px;
    height: 170px;
    margin-top: 34px;
}
#text{
    width: 350px;
    height: 150px;
    color:  #333333;
    margin-top: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
}
.button{
    width: 100px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    margin-top: 34px;
}
.button{  
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    background-color: #fff51f;
    text-decoration: none;
    padding-top: 9px; 
    padding-left: 33px;  
}
.button:hover{
    color: #000; 
    background-color: #3fccfd;
}
.address{
    float: left;
    width: 486px;
    padding: 0 0 0 23px;
    padding-top: 38px;
}
.ad{
    font-family: Roboto;
    color:  #353535;
    font-size: 18px;
    font-weight: 900;
    line-height: 14px;
    text-align: left;
}
.adres{
    width: 180px;
    height: 134px; 
    margin-top: 18px;   
}
.location{
    font-family: Roboto;
    color:  #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;/
    text-align: left;
}
#img{
    padding-right: 10px;
}
.nomber{
    margin-top: 21px;
}
.nomer{
    width: 135px;
    height: 14px;
    font-family: Roboto;
    color:  #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    padding-left: 11px;
}
.mail{
    margin-top: 18px; 
    width: 180px;
    height: 26px;   
}
.mai1{
    font-family: Roboto;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-decoration: underline;
    text-align: left;
    padding-left: 11px;
    float: right;
}
#pochta{
    padding-top: 3px;
}
.mai1:hover{
    color: #3fccfd;
}
.help{
    width: 292px;
    height: 42px;
    font-family: Roboto;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 33px;
}
.crl{
	clear: both;
}
.social{
    width: 1170px;
    height: 150px;
    background-color: #eaeaea;
    margin-left: 370px;
    margin-top: 122px;
}
.brand{
    background-color:  #ffffff;
    width: 870px;
    height: 160px;
    margin-top: 62px;
}
.brends{
    width: 870px;
    height: 160px;
}
.brends>li{
    height: 30px;
    list-style-type: none;
    float: left;
    padding-top: 45px;
    padding-left: 3px;
}
.brends>li>img{
    width: px;
    height: 70px; 
    float: left;  
}
.internet{
    width: 1170px;
    height: 150px;
}
.ficon{
    width: 390px;
    height: 150px;
    background-color: #3b5997;  
    float: left;
    padding-left: 180px;
    padding-top: 44px;
}
.tw{
    width: 390px;
    height: 150px;
    background-color: #3fccfd;
    float: left;
    padding-left: 163px;
    padding-top: 49px;
}
.pin{
    width: 390px;
    height: 150px;
    background-color: #cb2027;
    float: left;
    padding-left: 163px;
    padding-top: 43px;
}
.ficon:hover,.tw:hover,.pin:hover{
    opacity: 0.75;
}
.foter1{
    height: 301px;
    margin-top: -1041px;
    background-color:  #373737;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    min-height: 100%;
}
h3{
    width: 110px;
    height: 13px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
   display: block;
}
.put>{
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    width: 195px;
    height: 22px
    display: block;
}
.category{
    float: left;
    width: 190px;
    height: 184px;
    float: left;
    margin-left: 400px;
    margin-top: 75px;
}
.account{
    float: left;
    width: 190px;
    height: 184px;
    margin-top: 75px;   
}
.support{
    float: left;
    width: 190px;
    height: 184px;
    margin-top: 75px;
} 
.newsletter{
    margin-top: 75px;
    float: left;
    width: 252px;
    height: 95px;
    color: #ffffff;
    font-size: 13px;
    line-height: 12px;
    font-family: Roboto, sans-serif;
}
.sabcribe{
    width: 180px;
    height: 30px;
    float: left; 
}
#email{
    font-family: Roboto;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    width: 180px;
    height: 30px;
    background-color: #fff51f;
    border: 0;
    padding-left: 21px;
    margin-bottom: 50px;
    margin-top: 25px; 
}
#email:hover{
    background-color: #3fccfd;
    color: #000000;
}
.button2{
    background-color: #000000;
    width: 71px;
    height: 30px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none; 
    padding-top: 8px; 
    padding-left: 13px;
    float: right;
    margin-bottom: 50px;
    margin-top: 25px; 
}
.button2:hover{
    background-color: #3fccfd;
    color: #000000;
}
.card{
    width: 270px;
    height: 22px;
}
.card>li{
    list-style-type: none;
    float: left;
    padding-right: 8px;
}
.us{
    width: 233px;
    float: left;
    margin-top: 65px;
    margin-left: 54px;
    font-family: Roboto, sans-serif;
}
.lor{
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    width: 232px;
    height: 85px;
    font-size: 12px;    
}
.phone{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-top: 16px;
}
.left{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    float: left;
}
.right{
    font-family: Roboto;
    color: #faef03;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    float: left;
    text-decoration: none;
    margin-left: 3px;
}
a.right:hover{
    color: #3fccfd;    
}
ul.info{
    width: 113px;
    height: 133px;
    margin-top: 22px;
}
.info>li{
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    list-style-type: none;
}
.info>li>a{
    text-decoration: none;
    color:  #ffffff;
    font-size: 12px;
}
.info>li>a:hover{
    color:  #3fccfd;
}
.copy{
    min-height: 100%;
    height: 47px;
    background-color:  #333333;
}
.f{
    height: 13px;
    font-family: Roboto;
    color:  #dad9d9;
    font-size: 12px;
    text-align: left;
    margin-left: 389px;
    padding-top: 21px;
}
ul.social_icons{
    width: 180px;
    height: 15px; 
    float: right;
    margin-right: 386px;
}
.social_icons>li{
    list-style-type: none;
    float: left;
    padding-left: 12px;
}
.social_icons>li>a{
    color: #fff;
}
.social_icons>li>a:hover{
    color: #3fccfd; 
}